spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ordify
    username: root
    password: 

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: false
    locations: classpath:db/migration
