spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ordify
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
 port: 8080
